#calculator {
    background-color: black;
    width: 500px;
    height: 750px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#display {
    background-color: grey;
}

#keypad {
    display: grid;
}
.btn-container button {
    width: 25%;
    height: 100%;
}

#zero {
    width: 50%;
}
#clear {
    width: 50%;
}
